@font-face {
  font-family: 'myfont';
  src: url('./fonts/Minecraft.ttf') format('truetype');
}


.gordinals {
  font-weight: 500;
font-size: 96px;
line-height: 105px;
/* identical to box height */


color: #FFFFFF;

text-shadow: -6px 11px 0px #408830;
}